# Cache directories

app/cache/*
!app/cache/.gitkeep
!app/cache/.htaccess

app/logs/*
!app/logs/.gitkeep

# Chamilo configuration


# Courses
app/courses/*
!app/courses/proxy.php

# Home
app/home/*

# Upload content
app/upload/*

.php_cs.cache

# Logs and databases #
*.log

# IDE settings
.idea
.idea/*
.idea/dictionaries/*
.idea/cssxfire.xml

*.orig
nbproject/*

# Plugins config files
plugin/bbb/config.vm.php

# Cron temp files
main/cron/incoming/*
plugin/vchamilo/templates/*

# Stuff updated through composer - Remove just before release


node_modules
yarn.lock
